<!doctype html>
<html lang="pt-br" mlns:th="http://www.thymeleaf.org"
				   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Lista de usuários</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    	  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .footer{
            position:fixed;
            bottom:0;
            width:100%;   
            height: 55px;      
        }

    </style>

  </head>
  <body style="background: #E0FFFF ;">    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!--<img class="logo" src="logoPerfumariaPi4.png" alt="" hreF="">-->
            <a class="navbar-brand h1 mb-0" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <spam class="navbar-toggler-icon"></spam>
            </button>
    
            <div class="collapse navbar navbar-collapse" id="navbarSite">
                <ul class="navbar-nav mr-auto"><!--mr-auto deixa a margem a direita (ml-auto na esquerda)-->
                    <li class="nav-iem">
                        <a class="nav-link" href="#">Masculino</a>
                    </li>
                    <li class="nav-iem">
                        <a class="nav-link" href="#">Feminino</a>
                    </li>
                    <li class="nav-iem">
                        <a class="nav-link" href="#">Infantil</a>
                    </li>
                </ul>
                
                <form class="form-inline" action="">
                    <input class="form-control ml-2 mr-2 " type="search" name="" placeholder="Buscar...">
                    <button class="btn btn-light" type="submit">OK</button>
                </form>

                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">Log</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Entrar</a>
                            <a href="#" class="dropdown-item">Cadastrar</a>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav><br><br>
    <!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->

    <!--TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__-->
    <div class="container">
      
        <div class="card">
            <div class="card-header">
            <form class="form-inline" action="">  
                &nbsp;&nbsp;<h4>Usuários</h4>
                <input class="form-control ml-2 mr-2 ml-auto" type="search" name="" placeholder="Buscar...">
                <button class="btn btn-success" type="submit">OK</button>
            </form>
            </div>
            <div class="card-body">
                <div class="container">
                        <div class="col-sm-12 col-sm-offset-5 col-md-10 col-md-offset-2 main">
                            
                        <div class="col-md-12"> 
                            <table class="table table-striped">
                                <tr>
                                    <th>ID</th>
                                    <th>E-mail</th>
                                    <th>Senha</th>
                                    <th>Tipo de Usuário</th> 
                                </tr>
                
                                <tr th:each="usuario: ${usuarios}">
                                    <td><span th:text="${usuario.id_usuario}"></span></td>
                                    <td><span th:text="${usuario.email}"></span></td>
                                    <td><span th:text="${usuario.senha}"></span></td>
                                    <td><span th:text="${usuario.tipo}"></span></td>
                                    <td><a class="btn btn-primary" href="">Editar</a></td>
                                    <td><a class="btn btn-danger" href="">Excluir</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    </div>
            </div>
            <div class=" ml-5 mr-4 ml-auto">
                <button class="btn btn-primary ml-auto" href="acesso/cadastrarUsuario">Cadastrar</button>
            </div><br>
        </div>
    </div>
    <!--TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__TABELA_USER__-->



    <div class="footer">
        <footer class="py-4 bg-dark mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Projeto integrador 4</div>
                    <div class="text-muted">Akatsuki Devs</div>
                </div>
            </div>
        </footer>
    </div>
      
    </body>
</html>