<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	 integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Perfumes</title>
<style>
a {
	text-align: center;
	font-family: Verdana;
	font-size: 16px;
	color: Pink;
	text-decoration: none;
}
</style>

</head>

<body bgcolor="black">
	<div>
		<img src="logo.jpeg" class="rounded float-right">
		<h1
			style="text-align: center; font-family: Verdana; font-size: 72px; color: DeepPink; text-decoration: none">Perfumaria</h1>
		<a
			class="btn btn-bd"
			href="login">Faça Login</a>
		<hr>
	</div>
	<a href="quem_somos.html">Quem somos</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="c_para_venda.html">Categorias</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<br>
	<br>
	<div align="middle">
		<img class="perfumes">
	</div>
	<br>
	<br>
	<h3>
		<a href="/usuarios">Usuarios</a>
	</h3>



	<br>
	<hr>
	</div>
	<div>
		<a href="http://www.facebook.com"><img src="facebook.png"
			alt="facebook" height=40 width=40 border-radius=0px> <a
			href="http://www.instagran.com"><img src="instagran.jpg"
				alt="instagran" height=40 width=40 border-radius=0px> <a
				href="http://www.twitter.com"><img src="twiter.jpg"
					alt="twitter" height=40 width=40 border-radius=0px>
	</div>
</body>
</html>