<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
					xmlns:th="http://www.thymeleaf.org"
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Entre</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<style>
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
}
</style>

</head>
<body style="background: #E0FFFF;">
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<!--<img class="logo" src="logoPerfumariaPi4.png" alt="" hreF="">-->
			<img height="80px"src="imgCarousel/logoakatsukidevs.jpg" alt="akatsukidevs" class="rounded-sm">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSite">
				<spam class="navbar-toggler-icon"></spam>
			</button>
			<div class="collapse navbar navbar-collapse" id="navbarSite">
				<ul class="navbar-nav mr-auto">
					<!--mr-auto deixa a margem a direita (ml-auto na esquerda)-->
					<li class="nav-iem"><a class="nav-link" href="#">Masculino</a>
					</li>
					<li class="nav-iem"><a class="nav-link" href="#">Feminino</a>
					</li>
					<li class="nav-iem"><a class="nav-link" href="#">Infantil</a>
					</li>
				</ul>
				<form class="form-inline" action="">
					<input class="form-control ml-2 mr-2 " type="search" name="buscar"
						placeholder="Buscar...">
					<button class="btn btn-light" type="submit">OK</button>
				</form>
				<ul class="navbar-nav ml-auto">
					
				</ul>
			</div>
		</div>
	</nav>
	<!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="card shadow-lg border-0 rounded-lg mt-5">
					<div class="card-header">
						<h3 class="text-center font-weight-light my-4">Login</h3>
					</div>
					<div class="card-body">


						<form name="f" th:action="@{/login}" method="POST">
							<fieldset>
								<!--thymeleaf + Spring Security error display -->
								<div th:if="${param.error}" class="alert alert-danger"
									role="alert">E-mail ou senha inválido.</div>

								<div th:if="${param.logout}" class="alert alert-success"
									role="alert">Você foi desconectado.</div>
	

								<div class="form-group">
									<label for="username">E-mail</label> 
									<input type="text" class="form-control py-4" id="username"
										name="username" placeholder="Digite seu e-mail" autofocus="autofocus">
								</div>
								<div class="form-group">
									<label for="password">Senha</label> <input
										type="password" class="form-control py-4" id="password"
										name="password" placeholder="Digite sua senha">
								</div>
								<div class="form-group">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="rememberPasswordCheck"> <label
											class="custom-control-label" for="rememberPasswordCheck" name="lembre">Lembre-se de mim.</label>
									</div>
								</div>
								<div
									class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
									<a class="small" href="#">Esqueceu sua senha?</a> 
									<br>
								</div>
								<div class="form-group text-center">	
									<input class="btn btn-primary" type="submit" value="Login" name="login-submit">
								</div>
								<div class="card-footer text-center">
									<div class="small">
										<a href="#">Cadastre-se agora!</a>
									</div>
								</div>
							</fieldset>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<footer class="py-2 bg-dark mt-auto">
			<div class="container-fluid">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Projeto integrador 4</div>
					<div class="text-muted">Akatsuki Devs</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>